---
import Header from "../components/Header/Header"
import Layout from "../layouts/Layout.astro";


---


<Layout title="PromedyCalculator">
    <style is:raw>
        main {
            padding-block: 90px;
            width: 70%;
            height: max-content;
            gap: 24px;
        }
        
        h2 {
            font-size: 56px;
            font-weight: bold;
        }
        
        main p {
            width: 70%;
            margin-bottom: 10px;
            color: #4f4f4f;
            font-weight: 500;
            line-height: 22px;
        }
        
    </style>
    <Header />
        <main class="f-col f-align-center mx-auto">
            <h2 class="text-center">The Easy way to calculate promedy of notes Getting instant Result</h2>
            <p class="text-center">Astroplate is a free starter template built with Astro and TailwindCSS, providing everything you need to jumpstart your Astro project and save valuable time.</p>
            <a href="/App" class="pc-btn-black br-6 d-flex f-center" style="font-size: 16px;">Get Started For Free</a>
        </main>
</Layout>