.none{
    background-color: transparent;
    border: none;
    outline: none;
    pointer-events: none;
    user-select: none;
    width: 240px;
}

.app-container{
    height: max-content;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    place-items: center;
    gap: 30px;
    margin-bottom: 100px;
}

.app-container .pc-btn-black{
    padding: 12px 24px !important;
    align-self: flex-end;
}

.app-result{
    border: solid 1px #6D6D6D;
    height: max-content;
    width: 280px;
    padding: 20px;
}

.app-result h4{
    font-size: 80px;
    font-weight: bold;
}
.app-result p{
    border-top: solid 1px #6D6D6D;
    padding: 24px 30px 6px 30px;
}

.promotion-adds{
    margin-top: 20px;
}
.add-card{
    border: solid 1px #6D6D6D;
    border-radius: 8px;
    height: 200px;
    width: 380px;
}