.none{
    background-color: transparent;
    border: none;
    outline: none;
    pointer-events: none;
    user-select: none;
    width: 240px;
}

.app-container{
    height: max-content;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
    gap: 80px;
    margin-bottom: 100px;
}

.app-container .pc-btn-black{
    padding: 12px 24px !important;
    align-self: flex-end;
}

.app-result{
    border: solid 1px #6D6D6D;
    height: 300px;
    width: 294px;
    padding: 20px;
}

.app-result h4{
    font-size: 70px;
    font-weight: bold;
}