---
import './Header.css';

const app = Astro.props.app ?? false;

---

<header class="f-row f-justify-between f-align-center relative">
  <h1><a href="/PromedyCalculator">PromedyCal</a></h1>
  {app ? (
    <span class='h-burger d-flex f-center pointer'>
      
    </span>
    <aside class="absolute">

    </aside>
  ) : (
    <a href="/PromedyCalculator/App" class='pc-btn-black inner-empty br-6' style={{ padding: '11px 24px' }}>Get Started</a>
  )}
</header>
