.app-input-parent{  
    width: 100%;
}
.app-input{
    min-width: 80px;
    width: 80%;
    border: solid 1px #4F4F4F;
    padding: 12px 20px;
    font-size: 16px;
}

.app-in-per-list{
    width: fit-content;
}
.app-input-per{
    min-width: 60px;
    width: 80px;
    border: solid 1px #4F4F4F;
    padding: 12px;
    font-size: 16px;
}

.app-in-close{
    height: 40px;
    width: 60px;
    opacity: 0;
    cursor: auto;
    transform: translateX(-10px);
    transition: opacity 0.15s, transform 0.2s;
    scale: 1.3;
}
.app-in-close svg{
    stroke: #d12133;
}

.app-in-close:hover{
    opacity: 1;
    cursor: pointer;
    transform: translateX(0px);
}