---

---

<style is:raw>
    footer{
        margin-top: 20px;
        padding: 20px;
    }
    a{
        font-size: 14px;
        font-weight: 500;
        padding: 4px 6px;
    }
</style>

<footer class="Footer f-col f-center">
    <section class="f-row f-justify-center g-5">
        <a class="app-text" href="#">Help</a>
        <a class="app-text" href="#">About</a>
        <a class="app-text" href="#">User Agreement</a>
        <a class="app-text" href="#">Privacy Policy</a>
        <a class="app-text" href="#">Settings</a>
        <a class="app-text" href="#">LIFO - {new Date().getFullYear()}</a>
    </section>
    <section>
        
    </section>
</footer>